.news__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news__info__wrapper {
  background-image: url("../img/birthday.jpg");
  background-position: center;
  padding: 0 20px;
  background-color: #eeeeee;
  border: 3px solid black;
  border-radius: 30px;
  color: white;
  font-style: italic;

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}
