.page-header {
  background-color: #04bf9d;
  border-bottom: 2px dashed #000000;
}

.page-header__main-logo {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // animation: pulsing 5s infinite;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 66px;
    left: 20%;
    width: 50px;
    height: 50px;
    background-image: url("../img/icons/icon-cut-here.svg");
    background-repeat: no-repeat;
  }

  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.page-header__tel-number {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  padding-left: 30px;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 3px;
    width: 50px;
    height: 50px;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    color: black;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: none;
  }
}

.page-header__contact-list {
  @include reset-list;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  li {
    &:last-child {
      margin-right: 0;
    }
  }
}

.page-header__contact-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  justify-content: center;
}

.page-header__contact-link {
  position: relative;
  z-index: 1;
  padding: 10px;
}

.page-header__contact-item--black {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: white;
    }

    .page-header__contact-link-icon-vk {
      fill: black;
    }
  }
}

.page-header__contact-item--white {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: black;
    }

    .page-header__contact-link-icon-mail {
      fill: white;
    }
  }
}

.page-header__contact-item--red {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: black;
    }

    .page-header__contact-link-icon-play {
      fill: white;
    }
  }
}

.page-header__main-logo--footer {
  flex-direction: row-reverse;
}

@media (min-width: $width-tablet) {
  .page-header__wrapper {
    flex-direction: row;

    span {
      display: block;
      color: white;
      margin-bottom: 10px;
      font-weight: bold;
      padding-left: 25px;
    }
  }

  .page-header__contact-list {
    margin-left: 90px;
  }
}

@media (min-width: $width-desktop) {
  .page-header__contact-list {
    margin-left: 220px;
  }
}
