.page-main__main-title {
  @include reset-h;

  text-align: center;
  font-size: 26px;
  line-height: 34px;
  padding: 30px 70px;
  color: white;
}

.page-main__title-wrapper {
  // background-color: #eeeeee;
  // border-bottom: 2px dashed #000000;
}

.page-main__write__us {
  position: fixed;
  bottom: 0;
  right: 0;
  animation: pulsing 3s infinite;
  z-index: 5;

  button {
    width: 50px;
    height: 50px;
    background-image: url("../img/mail.png");
    background-repeat: repeat;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: cover;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

@keyframes pulsing {
  0% {
    transform: scale(0.7, 0.7);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.7, 0.7);
  }
}

.page-main__merits-wrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-main__merits-list {
  @include reset-list;
  padding: 20px;

  font-size: 13px;

  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.page-main__merits-item {
  // justify-content: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 15px;
  }
}

@media (min-width: $width-tablet) {
  .page-main__merits-list {
    justify-content: space-between;
    flex-direction: row;
    margin-left: 0;
  }

  .page-main__main-title {
    font-size: 24px;
    line-height: 28px;
  }

  .main-nav__text-menu {
    display: none;
  }
}
