.slider-gallery {
  margin-bottom: 30px;
}

.slider-gallery__wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.sl_ctr {
  position: relative;
  width: 320px;
  height: 214px;
  overflow: hidden;
}

.sldr {
  position: relative;
  width: 10000px;
  height: 214px;

  img {
    float: left;
  }
}

.prv_b,
.nxt_b {
  position: absolute;
  top: 50%;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  content: "";
  background-size: contain;
}

.prv_b {
  left: 0;
  background-image: url("../img/nxt.png");
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.nxt_b {
  right: 0;
  background-image: url("../img/nxt.png");
  background-repeat: no-repeat;
}

.prv_b:hover,
.nxt_b:hover {
  opacity: 0.6;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  bottom: 70px;
  left: 49%;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 10px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  text-align: center;
  display: none;
  padding: 30px 0 80px 0;
}

.slider-item__mock {
  display: flex;
  flex-direction: column;

  span {
    padding-top: 20px;
  }

  ul {
    @include reset-list;

    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-left: 6px;

    li {
      padding-right: 11px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

// .slider-item:nth-child(1) {
//   background-image: url("img/slide1.png");
//   background-repeat: no-repeat;
//   background-position: 93% 18px;
// }
//
// .slider-item:nth-child(2) {
//   background-image: url("img/slide2.png");
//   background-repeat: no-repeat;
//   background-position: 100% 0;
// }
//
// .slider-item:nth-child(3) {
//   background-image: url("img/slide3.png");
//   background-repeat: no-repeat;
//   background-position: 100% 20px;
// }
//
// .slider-item:nth-child(4) {
//   background-image: url("img/slide3.png");
//   background-repeat: no-repeat;
//   background-position: 100% 20px;
// }
//
// .slider-item:nth-child(5) {
//   background-image: url("img/slide3.png");
//   background-repeat: no-repeat;
//   background-position: 100% 20px;
// }
//
// .slider-item:nth-child(6) {
//   background-image: url("img/slide3.png");
//   background-repeat: no-repeat;
//   background-position: 100% 20px;
// }
//
// .slider-item:nth-child(7) {
//   background-image: url("img/slide3.png");
//   background-repeat: no-repeat;
//   background-position: 100% 20px;
// }

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-4:checked ~ .slider-list .slider-item:nth-child(4) {
  display: block;
}

#product-5:checked ~ .slider-list .slider-item:nth-child(5) {
  display: block;
}

#product-6:checked ~ .slider-list .slider-item:nth-child(6) {
  display: block;
}

#product-7:checked ~ .slider-list .slider-item:nth-child(7) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before,
#product-4:checked ~ .slider-controls .slider-controls-item--4::before,
#product-5:checked ~ .slider-controls .slider-controls-item--5::before,
#product-6:checked ~ .slider-controls .slider-controls-item--6::before,
#product-7:checked ~ .slider-controls .slider-controls-item--7::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 17px;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  margin: 0 20px;
  margin-bottom: 27px;
  text-align: center;

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 47%;
  padding: 11px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #2572b4;
  border-radius: 5px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider__title {
  @include reset-h;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  color: white;

  background-image: url("../img/background-pano.jpg");
  background-position: center;
  background-size: cover;

  // animation: pulsing 2s infinite;
}

// @keyframes pulsing {
//   0% {
//     transform: scale(1.1, 1.1);
//   }
//
//   50% {
//     transform: scale(1, 1);
//   }
//
//   100% {
//     transform: scale(1.1, 1.1);
//   }
// }

.slider-list-price {
  font-weight: bold;
  display: block;
}

.slider-list__info-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 20px;

  p {
    color: #2572b4;
    width: 47%;
    padding: 10px 5px;
    margin: 0;
    border: 1px solid #2572b4;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}


@media (min-width: $width-tablet) {
  .sl_ctr {
    width: 768px;
    height: 514px;
  }

  .sldr {
    height: 768px;
  }

  .slider-item__mock {
    ul {
      margin: 0;
      // margin-right: 1em;
    }
  }
}

@media (min-width: $width-desktop) {
  .sl_ctr {
    width: 1280px;
    height: 857px;
  }

  .sldr {
    height: 1280px;
  }

  .slider-item__mock {
    ul {
      margin-right: 10px;
    }
  }
}
